build
logs
target

.vscode/
/.idea
/.idea_modules
/.classpath
/.gradle
/.project
/.settings
/RUNNING_PID

.DS_Store

gradle/
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
gradlew
